pytest-cov~=6.1.1
openwisp-utils[qa,selenium,channels-test] @ https://github.com/sachinspanidea8484/openwisp-utils-spanidea/tarball/main
django_redis~=6.0.0
mock-ssh-server~=0.9.1
responses~=0.25.7
psycopg2-binary~=2.9.10


# firmware 
celery
redis

# monitoring 
channels_redis~=4.2.1
freezegun~=1.5.1

# network topology

# radius
djangorestframework-simplejwt
django-cors-headers>=2.5.2
packaging
openwisp-sphinx-theme~=1.0.2
pylinkvalidator
lxml~=5.4.0
cssselect~=1.3.0





