{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block breadcrumbs %}
<div class="breadcrumbs">

    <a href="{% url 'admin:index' %}">{% trans "Home" %}</a>

    &rsaquo;
    <a href="{% url 'admin:app_list' app_label=opts.app_label %}">
        {{ opts.app_config.verbose_name }}
    </a>

    &rsaquo;
    {% with 'admin:'|add:opts.app_label|add:'_'|add:opts.model_name|add:'_changelist' as changelist_url %}
        <a href="{% url changelist_url %}">
            {{ opts.verbose_name_plural|capfirst }}
        </a>
    {% endwith %}

    &rsaquo;
    {{ title }}

</div>
{% endblock %}

{% block content %}



<p><strong>Execution:</strong> {{ execution.name }}</p>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ formset.management_form }}

  {% if formset.total_form_count > 0 %}
    <table class="results">
      <thead>
        <tr>
          <th>Device</th>
          <th>Test Case</th>
          <th>Config File</th>
        </tr>
      </thead>
      <tbody>
        {% for form in formset %}
          <tr>
            {{form.id}}
            <td>{{ form.instance.device }}</td>
            <td>{{ form.instance.testcase }}</td>
            <td>
              {{ form.config_file }}
              {{ form.config_file.errors }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p class="info">
      <strong>No test cases require configuration push.</strong><br>
      You can proceed directly to execution.
    </p>
  {% endif %}
    

  <div class="submit-row">
    <a class="button"
       href="{% url 'admin:test_management_testsuiteexecution_change' execution.pk %}">
      Back to Execution
    </a>

    {% if formset.total_form_count > 0 %}
      <input type="submit" class="default" value="Push Configuration and Proceed">
    {% else %}
      <input type="submit" class="default" value="Proceed">
    {% endif %}
  </div>
</form>
{% endblock %}